.std-form label {
	width: 130px;
	display: inline-block;
	margin-right: 5px;
	text-align: right;
}
.std-form .user-info, .std-form .password {
	margin-bottom: 20px;
}
.std-form input[type=text], .std-form input[type=password] {
	margin-bottom: 5px;
}