body {
	font-family: 'Helvetica', 'Arial', sans-serif;
	background: #ccc;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 2em;
	margin-bottom: 20px;
}
footer {
	margin-top: 20px;
}

/* header */

header {
	background: #fff;
	border-bottom: solid 1px #999;
}
header h1 a {
	padding: 10px;
	font-weight: bold;
	color: #333;
	display: inline-block;
	border-right: solid 1px #ccc;
}
header h1 a:hover {
	background: #f6f6f6;
}
header a:hover {
	text-decoration: underline;
	color: #000;
}