* {
	font-family: 'Helvetica', 'Arial', sans-serif;
}

.hidden {
	display: none;
}
.clear {
	clear: both;
}

html {
    background: #eee;
}
body {
    border: solid 1px #ddd;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -140px 0 0 -160px;
    padding: 20px;
    background: #fff;
}
input {
    display: block;
    margin: 20px 0;
    padding: 10px;
}
input[type="text"], input[type="password"] {
    padding: 10px;
    width: calc(100% - 24px);
    border: solid 1px #ddd;
}
input[type="submit"] {
    width: 100%;
    background: #fff;
    border: none;
    cursor: pointer;
}
h1 {
    font-size: 2em;
    font-weight: bold;
}
a {
    margin: 50px;
    display: block;
    text-align: center;
    color: #000;
}
a:hover {
    text-decoration: underline;
}
