/* D&D database styling */

* {
	font-family: 'Helvetica', 'Arial', sans-serif;
}

html {
	background: #eee;
	margin-right: 20px;
	overflow-y: scroll;
	min-width: 1000px;
}

.hidden {
	display: none;
}
.clear {
	clear: both;
}
.red {
	background: #fcc;
}
.orange {
	background: #fec;
}

a {
	color: #000;
}
a:hover {
	text-decoration: underline;
}
a.delete {
	color: #c00;
	text-align: center;
	display: block;
}

#header h1 {
	font-size: 2em;
	font-weight: bold;
	margin: 10px;
	float: left;
}
#header a {
	float: right;
	margin: 20px 0 0 10px;
}
h2 {
	font-size: 1.5em;
	font-weight: bold;
	margin: 10px;
}

table {
	margin: 10px;
	background: #fff;
	width: 100%;
}
td, th {
	padding: 10px;
	border: solid 1px #ddd;
}
th {
	font-weight: bold;
	background: #666;
	color: #eee;
	border: solid 1px #333;
}
tr.red td {
	border: solid 1px #f99;
}
tr.orange td {
	border: solid 1px #fc9;
}
input[type=submit] {
	width: 60px;
}
input[type=submit] {
	background: #fff;
	border: none;
	cursor: pointer;
	font-size: 1em;
	padding: 10px;
	margin: -10px;
	width: 80px;
}
input[type=submit]:hover {
	text-decoration: underline;
}
/*input[type=submit]#add {
	background: #33d;
	color: #eee;
}
input[type=submit]#add:hover {
	background: #55f;
	color: #fff;
}*/
th input[type=submit], #add {
	background: #3a3;
	color: #eee;
	font-weight: bold;
}
th input[type=submit]:hover {
	background: #4b4;
	color: #fff;
}
input[type=text], input[type=number] {
	width: 100%;
	padding: 10px;
	margin: -10px;
	border: none;
	background: transparent;
	font-size: 1em;
}
input[type=number] {

}

td.id input[type=text] {
	width: 20px;
}

td.total {
	text-align: right;
}
